# Ignore built ts files
dist/**/*

# Dependency directory
node_modules

# Don't expose sensitive data
config/default.json

# Webstorm files
.idea

# vscode files
.vscode
/.vs/

# Winston logs
logs/*


# Coverage
coverage
.nyc_output
coverage.lcov
npm-debug.log

# TypeORM config (has DB info)
ormconfig.json
config/dev.json
config/test.json
