#loadingHolder {
    width: 100vw;
    height: 100vh;
    background: var(--background-modal);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade-in 1s ease 2s normal forwards;
    position: absolute;
    z-index: 9999;

    #loadingDescription {
        font-size: 24px;
        color: var(--font-color);
        padding-top: 10px;
    }
}