#UserDropDown {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 52px;
  right: 7px;
  visibility: hidden;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: var(--paper-2);
  background: var(--color-gradient-secondary);
  opacity: 0;
  transition: opacity .3s ease, visibility 0s linear .3s; }
  #UserDropDown li {
    padding: 15px;
    cursor: pointer;
    color: var(--font-color-secondary);
    transition: all .2s ease; }
    #UserDropDown li a {
      color: var(--font-color-secondary);
      text-decoration: none; }
    #UserDropDown li:hover {
      color: var(--font-color);
      background: var(--gradient-overlay-darker);
      box-shadow: var(--paper-inset-1); }
      #UserDropDown li:hover a {
        color: var(--font-color); }
