#draftState {
    height: 6px;
    margin: 7px;
    background: var(--background-light);
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    overflow: hidden;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: var(--paper-1);

    #draftStateBar {
        background: var(--ready-up-gradient);
        width: 25%;
        animation: progress-bar 20s ease infinite;
        height: 6px;
        transition: all .3s ease;
        flex-shrink: 0;
        border-radius: 3px;
        background-size: 700%;
    }

    &.preDraftDetails {
        height: 50px;
    
        #draftStateBar {
            height: 10px;
            box-shadow: var(--paper-1);
        }
    
        #PreDraftRequirements {
            opacity: 1;
        }
    }
}