#SteamLogIn {
  margin: 7px;
  height: 32px;
  background: linear-gradient(to bottom right, hsl(145, 100%, 39%), hsl(151, 100%, 45%), hsl(145, 100%, 39%));
  border-radius: 16px;
  overflow: hidden;
  font-size: 30px;
  display: flex;
  align-items: center;
  box-shadow: var(--paper-1);
  cursor: pointer;
  transition: background-position .5s ease;
  background-size: 200% 200%;
  background-position: 0% 0%;
  text-decoration: none;
  color: var(--font-color);
  
  &:hover {
    background-position: 100% 100%;
  }
  
  span {
    font-size: 15px;
    padding: 10px;
    padding-top: 7px;
    padding-left: 5px;
    white-space: nowrap;
  }
}