.button {
    border-radius: 4px;
    border: none;
    background: var(--color-gradient);
    cursor: pointer;
    color: var(--font-color);
    box-shadow: var(--paper-1);
    outline: none;
    padding: 5px 10px;
    font-family: var(--font);
    transition: all .2s ease;
    font-weight: 700;

    &:hover {
        box-shadow: var(--paper-2);
    }

    &:active {
        box-shadow: none;
        background: var(--color-gradient-secondary);
        transform: translateY(1px);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            box-shadow: var(--paper-1_);
        }
    }
}

.button-green {
    background: #00e676;

    &:active {
        background: #00c853;
    }
}

.button-secondary {
    background: var(--grey);

    &:active {
        background: var(--grey-dark);
    }
}

.button-big {
    font-size: 18px;
    padding: 8px 16px;
}